#body {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  font-family: 'Inter', sans-serif, tahoma;
  color: white;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: #091d3d;
}

p {
  text-align: left;
  margin-bottom: 3%;
  margin-top: 1%;
  font-size: 20px;
  width: 60%;
}

h1 {
  font-size: 66px;
  width: 60%;
  text-align: left;
  color: white;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
}

#input-email input {
  border: none;
  background-color: white;
  width: 54%;
  float: left;
  height: 70px;
  font-size: 22px;
  padding-left: 3%;
  padding-right: 3%;
}

#input-email input:focus {
  outline: none;
}

ol li {
  list-style-type: none;
} 

#subscribe {
  background-color: #02d45d;
  border-radius: 150px;
  text-transform: uppercase;
  margin-top: 3%;
  color: #091d3d;
  float: left;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  width: 60%;
  height: 75px;
  border: none;
}
