#body {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  font-family: 'Inter', sans-serif, tahoma;
  color: white;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: #091d3d;
}

p, label {
  text-align: left;
  margin-bottom: 3%;
  margin-top: 1%;
  font-size: 20px;
  width: 60%;
}

h1 {
  font-size: 66px;
  width: 60%;
  text-align: left;
  color: white;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
}

#input-email input {
  border: none;
  margin-left: 0;
  background-color: white;
  width: 54%;
  height: 70px;
  font-size: 22px;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 150px;

}

#input-email input:focus {
  outline: none;
}

#input-name input {
  border: none;
  margin-left: 0;
  background-color: white;
  width: 54%;
  height: 70px;
  font-size: 22px;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 150px;

}

#input-name input:focus {
  outline: none;
}

ol li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0:
  padding-left: 0;
} 

#subscribe {
  background-color: #02d45d;
  border-radius: 150px;
  text-transform: uppercase;
  margin-top: 3%;
  margin-left: 0;
  color: #091d3d;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  width: 100%;
  height: 75px;
  border: none;
}
